#
#  Copyright 2023 Fred Dushin <fred@dushin.net>
#
#  SPDX-License-Identifier: Apache-2.0 OR LGPL-2.1-or-later
#

name: "Build Examples"

on: ["push", "pull_request"]

jobs:
  build_erlang_examples:
    name: "Build Erlang/Elixir Examples"
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true

    steps:
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "26"
          elixir-version: "1.18"
          rebar3-version: "3.24.0"

      - name: Checkout repo
        uses: actions/checkout@v6

      - name: "Build Erlang/Elixir Example Programs"
        run: |
          ./build.sh
